.bb{
    border: solid red 3px;
}


.max-w{
max-width: 1220px;
margin: auto;

}

.react-stars span {
    pointer-events: none;
  }

  .cart-btn{

    border-radius: 100%;
    background-color: rgb(221, 221, 221);
    padding: 9px;
    color: black;
  }
  .cart-btn:hover{
    background-color: #f5be05;
  }